{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5 mt-4 text-dark text-center p-2">
    <h1 class="text-center mb-4 mt-5 text-dark"><i>Travel Resources</i></h1>
    <h5 class="text-light mb-4">Below are some helpful links for booking visas and flights:</h5>
    <ul>
        <h5>For Visa Services...</h5>
        <li><a href="https://www.vfsglobal.com/en/individuals/index.html" target="_blank">VFS Global</a></li>
        <li><a href="https://www.ivisa.com/" target="_blank">iVisa </a></li>
        <h5>For Flight Bookings and Know Timings...</h5>
        <li><a href="https://www.cleartrip.com/" target="_blank">Clear trip</a></li>
        <li><a href="https://www.expedia.co.in/" target="_blank">Expedia</a></li>
    </ul>
        <h5 class="mt-5 text-light mb-3">If you have any queries or needs information regards it!</h5>
    <p class=" text-light fs-2">Fell free to contact us</p>
    <p class="text-light fs-2 mb-5">Contact No:+91 9961960574</p>
    </div>
{% endblock %}
